/*
******************************************************
 Base Settings
******************************************************
*/

html,
body {
  height: 100%;
}

body {
  background: url(../img/geometric-mountains.jpg) top left no-repeat;
  background-size: cover;
}

button {
  border: none;
  background: #145776;
  color: white;
}


/*
******************************************************
 GSS Fade : Controls FOUC
******************************************************
*/

html {
  opacity: 0;
  -webkit-transition: 220ms opacity ease-in;
  transition: 220ms opacity ease-in;
}

html.no-js {
  opacity: 1 !important; /* so content is visible when js fails */
}

html.gss-ready {
  opacity: 1;
}


/*
******************************************************
 Styles and Textures
******************************************************
*/

.profile {
  background: url(../img/geometric-mountains.jpg) top left no-repeat;
  background-size: cover;
}

.profile__card {
  background: rgba(255, 255, 255, 0.36);
}

.profile__avatar {
  border: 8px solid #F7F7F7;
}

.profile__name {
  color: rgba(255, 227, 233, 1);
  font-size: 48px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62);
}

.button2 {
  background: #F5F5F5;
  color: #010102;
}