#OS X
.DS_Store

#Bundler
vendor

#Sass
.sass-cache

#Sourcemaps
css/*.css.map

#CSS
css/*.css

#Images
img/**/*.png
img/**/*.jpg
img/**/*.svg

#NPM Directory
node_modules

#Build Directory
dist

#Bower Directory
bower_components

#Build Files
js/minified
